@use 'base/variables' as v; 
@use 'base/mixins' as m;

.section {
    margin-block: 3rem;

    @include m.tablet {
        margin-block: 5rem;
    }
}

.headings {
    font-weight: 400;
    margin-bottom: 1rem;
    span {
        font-weight: 900;
    }

    &::after {
        content: "";
        display: block;
        width: 15rem;
        height: 1rem;
        background-image: linear-gradient( to right, v.$primario 0%, v.$primario 50%, lighten(v.$primario, 20%) 50%, lighten(v.$primario, 20%) 100% );
        margin-top: 1rem;
    }
}