@use 'base/mixins'as m;
@use 'base/variables'as v;

.repartidores {
    padding: v.$separacion 0;

    &__header {
        text-align: center;
        color: v.$secundario;
    }

    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$separacion)
        }
    }

    &__contenido {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__texto {
        margin: 2rem 0;
        color: v.$secundario;
        line-height: 1.5;
    }

    &__boton {
        @include m.boton(v.$primario, v.$blanco);

        @include m.tablet {
            max-width: auto;
        }
    }
}