@use 'base/variables'as v;
@use 'base/mixins'as m;

.buscar {
    background-color: v.$grisClaro;
    padding-block: 5rem;

    &__header {
        text-align: center;
        color: v.$gris2;
    }

}